.h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  letter-spacing: 0.1em;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
