.main{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5em;
  letter-spacing: 0.05em;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
